<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="../static/scriptform.js"></script>
    <title>Página inicial</title>
</head>
<body>
    <div align="center">
        <h1>Formulário</h1>
        <form id="formulario" onsubmit="return false;">
            <p>
                Nome: <input type="text" id="nome" name="nome" value="Ricardo">
            </p>
            <p>
                Idade: <input type="text" id="idade" name="idade" value="22">
            </p>
            <p>
                Cidade: <input type="text" id="cidade" name="cidade" value="Blumenau">
            </p>
            <p>
                Data: <input type="text" id=data" name="data" value="18/06/2000">
            </p>
            <button id="enviar" onsubmit="return false;">Incluir pessoa!!</button>
        </form>
    </div>
</body>
</html>