<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    <div id="principal" align="center">
        <h1>Seja Bem-vindo!</h1>
        <a href="http://localhost:5000/incluir" alt="Link para incluir pessoas" target="_blank">Incluir pessoas</a><br>
        <a href="http://localhost:5000/listar" alt="Link para listar pessoas" target="_blank">Lista de pessoas</a>
    </div>
</body>
</html>