* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: #0d1117;
    height: 100%;
}

nav{
    border-bottom: 1px solid grey;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #0d1117;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #242F40;
    transition: 0.5s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(128, 128, 128, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    background-color: #242F40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
}

.dropdown-content a:hover {
    background-color: #0d1117;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.item{
    width: 70%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    overflow: auto;
}

form{
    border: 5px solid #242F40;
    width: 500px;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
}

#box{
    width: max-content;
    min-width: 250px;
    text-align: left;
    margin: auto;
}

button{
    margin-top: 15px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #242F40;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #242F40;
    border: 2px solid #0d1117;
}

button:active{
    font-size: 19px;
}

p{
    display: inline-block;
}

img{
    margin-top: 40px;
    margin-bottom: 20px;
}

table {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    border-collapse: collapse;
}

th, td{
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
}

label, p, button{
    color: white;
}

label, select, #sexo, #data_nascimento{
    cursor: pointer;
}

input, select{
    margin-bottom: 7px;
}

select{
    background-color: transparent;
    color: white;
    text-align: center;
}

option{
    background-color: #242F40;
}

#nome, #email, #placa_mae, #processador, #placa_video{
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

#fonte, #memoria_ram, #proprietario_id{
    width: 100%;
}

.title_input{
    display: none;
}

::placeholder{
    color: white;
    font-size: 15px;
}

#data_nascimento{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#sexo_masculino, #sexo_feminino{
    margin-left: 22px;
}